table {

   border-collapse: collapse;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
   font-size: 15px;
}

table td {
   border: 2px solid black;
   width: 500px;
   padding: 10px;

}

tr {
   height: 40px;
}

th {
   border: 2px solid rgb(0, 0, 0);
   text-align: center;
}

textarea {
   width: 99%;

}